@charset "UTF-8";

 
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop-1:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */